{%extends 'base-layout.html'%}
{%block content%}


    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url(../static/img/bg-img/20150225_4607-normal.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title">My Blog Posts</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Happy Reading</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->



    <!-- Blog Area Start -->
    <section class="confer-blog-details-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
              <!-- Blog Area Start -->
              <div class="col-12 col-lg-8 col-xl-9">
                <div class="row">



                  {% if blog_posts %}
                    {% for blog_post in blog_posts %}
                      <!-- Single Blog Area -->
                      <div class="col-12 col-md-6 col-xl-4">
                          <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                              <!-- Single blog Thumb -->
                              <div class="single-blog-thumb">
                                  <img src="../static/img/blogimage/{{blog_post['image']}}" alt="">
                              </div>
                              <div class="single-blog-text text-center">
                                  <a class="blog-title" href="{{ url_for('post', post_id=blog_post['title']) }}">{{ blog_post['title'] }}</a>
                                  <!-- Post Meta -->
                                  <!-- <div class="post-meta">
                                      <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                      <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Jacobs Edo</a>
                                  </div> -->
                                  <p>{{ blog_post['body'] | truncate(150)  }}</p>
                              </div>
                              <div class="blog-btn">
                                  <a href="{{ url_for('post', post_id=blog_post['title']) }}"><i class="zmdi zmdi-long-arrow-right"></i></a>
                              </div>
                          </div>
                      </div>
                    {% endfor %}
                  {% endif %}






                  <!-- Load More Button -->
                  <div class="col-12" style="margin-bottom:100px;">
                    <div class="row">
                        <div class="col-12">
                          <div class="more-blog-btn text-center">
                            <a class="btn confer-btn" href="#">Load more <i class="zmdi zmdi-refresh"></i></a>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Blog Sidebar Area -->
              <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <!-- twitter Feed Area -->
                <div class="col-12">
                    <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                        <a class="twitter-timeline" data-height="400" data-theme="light" data-link-color="#df42b1" href="https://twitter.com/JacobsEdo?ref_src=twsrc%5Etfw">Tweets by JacobsEdo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>

                <!-- Facebook Feed Area -->
                <div class="col-12">
                    <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                        <div class="fb-page" data-href="https://www.facebook.com/JacobsEdo/" data-tabs="timeline" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/JacobsEdo/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/JacobsEdo/">Jacobs Edo Blog</a></blockquote></div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->






    {%endblock%}
