{%extends 'base-layout.html'%}
{%block content%}




    <!-- Welcome Area Start -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay jarallax" style="background-image: url(../static/img/bg-img/jc1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-right">
                                <h2 data-animation="fadeInUp" data-delay="300ms" style="font-size:40px;">Digital
                                  <br> Transformation
                                  <br> Evangelist</h2>
                                <h6 data-animation="fadeInUp" data-delay="500ms">Interested in Artificial Intelligence</h6>
                                <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="{{url_for('about')}}" class="btn confer-btn">Explore <i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay jarallax" style="background-image: url(../static/img/bg-img/jc2.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text-two text-center">
                                <h5 data-animation="fadeInUp" data-delay="100ms">DIGITAL <br> TRANSFORMATION</h5>
                                <h2 data-animation="fadeInUp" data-delay="300ms">EVANGELIST</h2>
                                <!-- Event Meta -->
                                <div class="event-meta" data-animation="fadeInUp" data-delay="500ms">
                                    <a class="event-date" href="{{url_for('about')}}"><i class="zmdi zmdi-account"></i>Interested in Artificial Intelligence?</a>
                                    <!-- <a class="event-author" href="#"><i class="zmdi zmdi-alarm-check"></i> Laura Green</a> -->
                                </div>
                                <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="{{url_for('about')}}" class="btn confer-btn m-2">Read more <i class="zmdi zmdi-long-arrow-right"></i></a>
                                    <!-- <a href="#" class="btn confer-btn m-2">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scroll Icon -->
        <div class="icon-scroll" id="scrollDown"></div>
    </section>
    <!-- Welcome Area End -->





    <!-- Our Schedule Area Start -->
    <section class="our-schedule-area section-padding-100" id="schedulec">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        <!-- <p>Our Timetable</p> -->
                        <h4>What I’m Doing?</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Tab Content -->
                    <div class="tab-content" id="conferScheduleTabContent">
                        <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="monday-tab">
                            <!-- Single Tab Content -->
                            <div class="single-tab-content">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb" style="width:200px;">
                                                    <img src="../static/img/bg-img/OFID-sqaured.png" style="border-radius: 0px;" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>OPEC Fund For International Development (OFID)</h6>
                                                    <p>
                                                      ERP Systems Coordinator, since autumn 2010 – Date <br>
                                                      Vienna, Austria
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p>
                                                  <i class="zmdi zmdi-map"></i>
                                                  Regular delivery of ICT leadership over large-scale, high profile enterprise systems initiatives and roll-out projects. Ran all aspects of enterprise systems implementations, including running an SAP CoE in Vienna, Austria. Led a comprehensive analysis of IT enterprise operational and financial data to mitigate risk factors, and anticipated and managed change effectively in a rapidly evolving business environment.
                                                </p>
                                            </div>
                                            <!-- Schedule Btn -->
                                            <!-- <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb" style="width:200px;">
                                                    <img src="../static/img/bg-img/seed-squred.png" style="border-radius: 0px;" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Stanford Institute for Innovation in Developing Economies (Stanford SEED)</h6>
                                                    <p>
                                                      Business Transformation Consultant, since summer , 2016 – Date <br>
                                                      Stanford, USA
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p>
                                                  <i class="zmdi zmdi-map"></i>
                                                  As a consultant for Stanford SEED, I support the mission of ending global poverty through innovative digital/business transformation skills to develop customized and creative business solutions to address entrepreneurship, leadership and business development in developing economies.
                                                </p>
                                            </div>
                                            <!-- Schedule Btn -->
                                            <!-- <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb" style="width:200px;">
                                                    <img src="../static/img/bg-img/NIPEX-squared.png" style="border-radius: 0px;" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Nigerian Petroleum Exchange (NipeX)</h6>
                                                    <p>
                                                      Sr.  SAP Systems Administrator, 2006-2009 <br>
                                                      Lagos, Nigeria
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p>
                                                  <i class="zmdi zmdi-map"></i>
                                                  Drove the use of innovation and emerging technologies to enable IT-Business alignment, and in support of NipeX mandate as the foremost electronic marketplace for upstream/downstream procurement management.
                                                </p>
                                            </div>
                                            <!-- Schedule Btn -->
                                            <!-- <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb" style="width:200px;">
                                                    <img src="../static/img/bg-img/NNPC-squared.png" style="border-radius: 0px;" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Nigerian  National Petroleum Corporation (NNPC)</h6>
                                                    <p>
                                                      Systems Engineer, 2002 -2006 <br>
                                                      Abuja, Nigeria
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p>
                                                  <i class="zmdi zmdi-map"></i>
                                                  Led and participated in the re-organization of NAPIMS, restructured its IT division which cumulated in the implementation of a new digital marketplace and the birth of NipeX - a new paradigm in oil and gas procurement management
                                                </p>
                                            </div>
                                            <!-- Schedule Btn -->
                                            <!-- <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb" style="width:200px;">
                                                    <img src="../static/img/bg-img/Shell-sqaured.png" style="border-radius: 0px;" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Shell Petroleum  Development Company (SPDC)</h6>
                                                    <p>
                                                      Trainee IT Engineer, 2001 <br>
                                                      Warri, Nigeria
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p>
                                                  <i class="zmdi zmdi-map"></i>
                                                  Participated and graduated from the Shell Intensive Training Program (SITP) -Batch 5 specializing in Information Technology.
                                                </p>
                                            </div>
                                            <!-- Schedule Btn -->
                                            <!-- <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a> -->
                                        </div>
                                    </div>

                                    <!-- More Schedule Btn -->
                                    <div class="col-12">
                                        <div class="more-schedule-btn text-center mt-50 wow fadeInUp" data-wow-delay="300ms">
                                            <a target="_blank" href="http://www.linkedin.com/in/jacobsedo" class="btn confer-gb-btn">LEARN MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Schedule Area End -->

    <!-- Our Ticket Pricing Table Area Start -->
    <section class="our-ticket-pricing-table-area bg-img bg-gradient-overlay section-padding-100-0 jarallax" style="background-image: url(../static/img/bg-img/20150225_4607-normal.jpg);">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <!-- <p>Choose a Ticket</p> -->
                        <h4>My Why?</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Ticket Pricing Table -->
                <div class="col-12 col-lg-4">
                    <div class="single-ticket-pricing-table text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6 class="ticket-plan"> <a target="_blank" href="http://www.digitaltransformation.com.ng/" style="color:#ffffff;">Digitisation</a> </h6>
                        <!-- Ticket Icon -->

                        <h2 class="ticket-price">
                          <img src="../static/img/bg-img/television.png" alt="" style="width:100px;">
                        </h2>

                        <!-- Ticket Pricing Table Details -->
                        <div class="ticket-pricing-table-details">
                            <p>
                              Digitisation has existed since the invention of computer systems with its current iteration, digitisation and digital transformation are both epoch-defining phenomenon for countries, organisations and people. Developments in digital technologies are unprecedented in their velocity, scale and impact, transforming products, services, operations and lifestyles.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Ticket Pricing Table -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-ticket-pricing-table active text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6 class="ticket-plan"><a target="_blank" href="http://www.digitaltransformation.com.ng/" style="color:#ffffff;">Economy</a></h6>
                        <!-- Ticket Icon -->
                        <h2 class="ticket-price">
                          <img src="../static/img/bg-img/save.png" alt="" style="width:100px;">
                        </h2>
                        <!-- Ticket Pricing Table Details -->
                        <div class="ticket-pricing-table-details">
                            <p>
                              The advent of the digital economy – marked by the emergence of “digital disruptors” as direct threats to established market leaders and prevailing economic understandings – poses a clear and present danger to legacy businesses: transform or die. The emerging digital economy has the potential to generate new scientific research and breakthroughs, fuelling job opportunities, economic growth, and improving how we live our lives.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Ticket Pricing Table -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-ticket-pricing-table text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6 class="ticket-plan"><a target="_blank" href="http://www.digitaltransformation.com.ng/" style="color:#ffffff;">People</a></h6>
                        <!-- Ticket Icon -->

                        <h2 class="ticket-price">
                          <img src="../static/img/bg-img/network.png" alt="" style="width:100px;">
                        </h2>

                        <!-- Ticket Pricing Table Details -->
                        <div class="ticket-pricing-table-details">
                            <p>
                              This is the fourth industrial revolution and it’s going to have a significant impact on the global economy as well. For me, the digital economy represents a renaissance of sorts, an opportunity to take a frontline leadership role in transforming businesses and becoming a standard bearer for driving corporate performance through digital transformation. Remember change is the only constant in the world.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
              <div class="more-schedule-btn text-center mt-50 wow fadeInUp" data-wow-delay="300ms" style="margin-top:0px; margin-bottom:50px;">
                  <a target="_blank" href="http://www.digitaltransformation.com.ng/" class="btn confer-gb-btn">READ MORE</a>
              </div>
          </div>
        </div>

    </section>
    <!-- Our Ticket Pricing Table Area End -->



    <!-- Our Blog Area Start -->
    <section class="our-blog-area bg-img bg-gradient-overlay section-padding-100-60" style="background-image: url(../static/img/bg-img/imageSelf06-normal.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading -->
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">

                        <h4>A Picture’s Worth?</h4>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Single blog Thumb -->
                        <div class="single-blog-thumb">
                            <img src="../static/img/bg-img/imageSelf26-squared.jpg" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Single blog Thumb -->
                        <div class="single-blog-thumb">
                            <img src="../static/img/bg-img/imageSelf12-sqaured.jpg" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Single blog Thumb -->
                        <div class="single-blog-thumb">
                            <img src="../static/img/bg-img/imageSelf17-squared.jpg" alt="">
                        </div>

                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Single blog Thumb -->
                        <div class="single-blog-thumb">
                            <img src="../static/img/bg-img/imageSelf11-sqaured.jpg" alt="">
                        </div>

                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Single blog Thumb -->
                        <div class="single-blog-thumb">
                            <img src="../static/img/bg-img/imageSelf15-squared.jpg" alt="">
                        </div>

                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                        <!-- Single blog Thumb -->
                        <div class="single-blog-thumb">
                            <img src="../static/img/bg-img/imageSelf23-squared.jpg" alt="">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Our Blog Area End -->

    <!-- Contact Area Start -->
    <section class="contact-our-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        <p>Have Question?</p>
                        <h4>Contact us</h4>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-12 col-sm-3">
                    <div class="contact-information mb-100">
                        <!-- Single Contact Info -->
                        <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                            <p>Address:</p>
                            <h6>Markowsygasse 6. Vienna, Austria</h6>
                        </div>
                        <!-- Single Contact Info -->
                        <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                            <p>Phone:</p>
                            <h6>+43.1.515.64.142</h6>
                        </div>
                        <!-- Single Contact Info -->
                        <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                            <p>Email:</p>
                            <h6>office@jacobsedo.com</h6>
                        </div>
                        <!-- Single Contact Info -->
                        <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                            <p>Website:</p>
                            <h6>www.JacobsEdo.com</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-8">
                    <!-- Contact Form -->
                    <div class="contact_from_area mb-100 clearfix wow fadeInUp" data-wow-delay="300ms">
                        <div class="contact_form" style="position:relative;">
                            <form id="contact_form" action="" method="post" id="main_contact_form">
                                <div class="contact_input_area">
                                    <div id="success_fail_info"></div>
                                    <div class="row">
                                        <!-- Form Group -->
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" autocomplete="off" class="form-control mb-30" name="name" id="name" placeholder="Your Name *">
                                            </div>
                                        </div>
                                        <!-- Form Group -->
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" autocomplete="off" class="form-control mb-30" name="name" id="name2" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <!-- Form Group -->
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="email" autocomplete="off" class="form-control mb-30" name="email" id="email" placeholder="E-mail *">
                                            </div>
                                        </div>
                                        <!-- Form Group -->
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" autocomplete="off" class="form-control mb-30" name="subject" id="subject" placeholder="Your Number">
                                            </div>
                                        </div>
                                        <!-- Form Group -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control mb-30" id="message" cols="30" rows="6" placeholder="Your Message *"></textarea>
                                            </div>
                                        </div>
                                        <!-- Button -->
                                        <div class="col-12">
                                            <button type="submit" class="btn confer-btn">Send Message <i class="zmdi zmdi-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div id="gif_loader" style="position:absolute; top:0px; left:0px; z-index:9999; width:100%; height:100%; background:rgba(17,19,67,.9);">
                              <div id="gif_wrapper" class="wrapper">
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                                <div>
                                  <div class="bar"></div>
                                </div>
                            </div>
                            </div>
                            <div id="errorAlert" style="position:absolute; top:100px; left:50%; background:#df42b1; color:#ffffff; z-index:999999; padding:5px 10px; width:300px; text-align:center; margin-left:-150px;font-size:18px; font-weight:bold;">
                            </div>
                            <div id="successAlert" style="position:absolute; top:100px; left:50%; background:#151853; color:#ffffff; z-index:999999; padding:5px 10px; width:300px; text-align:center; margin-left:-150px;font-size:18px; font-weight:bold;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Area End -->


{%endblock%}
