{%extends 'base-layout.html'%}
{%block content%}


    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url(../static/img/bg-img/jc2.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title">Blog Details</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{{url_for('blog')}}">My Blog</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Blog Area Start -->
    <section class="confer-blog-details-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Post Details Area -->
                <div class="col-12 col-lg-8 col-xl-9">
                    <div class="pr-lg-4 mb-100">
                        <!-- Post Content -->
                        <div class="post-details-content">

                            <!-- Post Thumbnail -->
                            <div class="post-blog-thumbnail mb-30" style="text-align:center; margin-bottom:50px;">
                                <img src="../static/img/blogimage/{{single_post[0]['image']}}" alt="">
                            </div>

                            <!-- Post Title -->
                            <h4 class="post-title">{{ single_post[0]['title'] }}</h4>

                            <!-- Post Meta -->
                            <!-- <div class="post-meta">
                                <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>
                                <a class="post-author" href="#"><i class="zmdi zmdi-favorite-outline"></i> 8 Likes</a>
                                <a class="post-author" href="#"><i class="zmdi zmdi-comment-outline"></i> 12 Comments</a>
                            </div> -->

                            <p style="margin-top:40px;"> {{ single_post[0]['body'] | safe }} </p>
                        </div>




                        {% if comments %}
                          <!-- Comment Area -->
                          <div class="comment-area mb-80" style="margin-top:100px;">
                              <!-- Comments Area -->
                              <div class="comment_area clearfix">
                                  <h4 class="mb-30">Comments</h4>

                                  <ol>
                                      {% for comment in comments %}
                                          <!-- Single Comment Area -->
                                          <li class="single_comment_area">
                                              <!-- Comment Content -->
                                              <div class="comment-content d-flex">

                                                  <!-- Comment Meta -->
                                                  <div class="comment-meta">
                                                      <div class="comment-meta-data">
                                                          <a>{{ comment["comment"]["name"] }}</a>
                                                          <!-- <span><i class="zmdi zmdi-calendar-check"></i> June 28, 2019 at 3:18 pm</span> -->
                                                      </div>
                                                      <p>{{ comment["comment"]["comment"] }}</p>
                                                      <!-- <a href="#" class="reply"><i class="zmdi zmdi-mail-reply"></i> Reply</a> -->
                                                  </div>
                                              </div>
                                          </li>
                                      {% endfor %}
                                  </ol>
                              </div>
                          </div>
                        {% endif %}

                        <!-- Leave A Reply -->
                        <div class="confer-leave-a-reply-form clearfix">
                            <h4 class="mb-30">Leave A Comment</h4>

                            <!-- Leave A Reply -->
                            <div class="contact_form">
                                <form id="comment_form" action="" method="post" id="main_contact_form">
                                    <div class="contact_input_area">
                                        <div id="success_fail_info"></div>
                                        <div class="row">
                                            <!-- Form Group -->
                                            <div class="col-12 col-lg-6">
                                                <div>
                                                    <input type="text" autocomplete="off" class="form-control mb-30" name="name" id="name" placeholder="Your Name *" required>
                                                </div>
                                            </div>

                                            <!-- Form Group -->
                                            <div class="col-12 col-lg-6">
                                                <div>
                                                    <input type="email" autocomplete="off" class="form-control mb-30" name="email" id="email" placeholder="E-mail *" required>
                                                </div>
                                            </div>

                                            <!-- Form Group -->
                                            <div class="col-12">
                                                <div>
                                                    <textarea name="comment" class="form-control mb-30" id="comment" cols="30" rows="6" placeholder="Your Comment *"></textarea>
                                                </div>
                                            </div>
                                            <!-- Hidden Input For Title reference -->
                                            <div class="col-12">
                                              <div class="">
                                                <input type="hidden" name="title" id="title" value="{{ single_post[0]['title'] }}">
                                              </div>
                                            </div>
                                            <!-- Button -->
                                            <div class="col-12">
                                                <button type="submit" class="btn confer-btn">Add Comment <i class="zmdi zmdi-long-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="gif_loader" style="position:absolute; top:0px; left:0px; z-index:9999; width:100%; height:100%; background:rgba(17,19,67,.9);">
                                  <div id="gif_wrapper" class="wrapper">
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                    <div>
                                      <div class="bar"></div>
                                    </div>
                                </div>
                                </div>
                                <div id="errorAlert" style="position:absolute; top:100px; left:50%; background:#df42b1; color:#ffffff; z-index:999999; padding:5px 10px; width:300px; text-align:center; margin-left:-150px;font-size:18px; font-weight:bold;">
                                </div>
                                <div id="successAlert" style="position:absolute; top:150px; left:50%; background:#151853; color:#ffffff; z-index:999999; padding:5px 10px; width:300px; text-align:center; margin-left:-150px;font-size:18px; font-weight:bold;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Blog Sidebar Area -->
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="confer-sidebar-area mb-100">



                        <!-- Single Widget Area -->
                        <div class="single-widget-area">
                            <!-- Post Author Widget -->
                            <div class="post-author-widget">
                                <!-- Thumbnail -->
                                <div class="post-author-avatar">
                                    <img src="../static/img/bg-img/post-page-sidebar-image.jpg" alt="">
                                </div>
                                <!-- Author Content -->
                                <div class="post-author-content">
                                    <h5>Jacobs Edo</h5>
                                    <span>Digital Transformation Evangelist</span>
                                    <p>Senior information technology professional</p>
                                </div>
                                <!-- Social Info -->
                                <div class="author-social-info">
                                    <a target="_blank" href="https://www.facebook.com/JacobsEdo/"><i class="zmdi zmdi-facebook"></i></a>
                                    <a target="_blank" href="https://www.twitter.com/JacobsEdo"><i class="zmdi zmdi-twitter"></i></a>
                                    <a target="_blank" href="http://linkedin.com/in/jacobsedo"><i class="zmdi zmdi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area">
                            <h5 class="widget-title mb-30">More Posts</h5>


                            {% for x in range(0, 3) %}
                              <!-- Single Recent Post Area -->
                              <div class="single-recent-post-area d-flex align-items-center" style="margin-bottom:30px; ">
                                  <!-- Thumb -->
                                  <div class="post-thumb">
                                      <a href="{{ url_for('post', post_id=all_post[x]['title']) }}"><img src="../static/img/blogimage/{{all_post[x]['image']}}" alt=""></a>
                                  </div>
                                  <!-- Content -->
                                  <div class="post-content">
                                      <a class="post-title" style="font-size:14px; font-style:normal;" href="{{ url_for('post', post_id=all_post[x]['title']) }}">{{ all_post[x]['title'] }}</a>
                                  </div>
                              </div>
                            {% endfor %}


                        </div>




                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->



{%endblock%}
