{%extends 'base-layout.html'%}
{%block content%}


    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url(../static/img/bg-img/jc2.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title">Blog Details</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="blog.html">My Blog</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Blog Area Start -->
    <section class="confer-blog-details-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Post Details Area -->
                <div class="col-12 col-lg-8 col-xl-9">
                    <div class="pr-lg-4 mb-100">
                        <!-- Post Content -->
                        <div class="post-details-content">

                            <!-- Post Thumbnail -->
                            <div class="post-blog-thumbnail mb-30" style="text-align:center; margin-bottom:50px;">
                                <img src="../static/img/blogimage/{{single_post[0]['image']}}" alt="">
                            </div>

                            <!-- Post Title -->
                            <h4 class="post-title">{{ single_post[0]['title'] }}</h4>

                            <!-- Post Meta -->
                            <!-- <div class="post-meta">
                                <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                                <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>
                                <a class="post-author" href="#"><i class="zmdi zmdi-favorite-outline"></i> 8 Likes</a>
                                <a class="post-author" href="#"><i class="zmdi zmdi-comment-outline"></i> 12 Comments</a>
                            </div> -->

                            <p style="margin-top:40px;"> {{ single_post[0]['body'] | safe }} </p>
                        </div>

                        <!-- Pager Area -->
                        <div class="pager-area d-flex align-items-center flex-wrap mb-80" style="margin-top:100px;">
                            <!-- Prev Post -->
                            <div class="pager-single-post d-flex align-items-center">
                                <div class="post-thumb">
                                    <a href="#"><img src="../static/img/blogimage/imageSelf07-squared.jpg" alt=""></a>
                                </div>
                                <div class="post-meta">
                                    <a href="#" class="post-title">Strategic Planning</a>
                                    <span>Previous Post</span>
                                </div>
                            </div>

                            <!-- Next Post -->
                            <div class="pager-single-post d-flex align-items-center">
                                <div class="post-thumb">
                                    <a href="#"><img src="../static/img/blogimage/imageSelf07-squared.jpg" alt=""></a>
                                </div>
                                <div class="post-meta">
                                    <a href="#" class="post-title">Petroleum Refining</a>
                                    <span>Next Post</span>
                                </div>
                            </div>
                        </div>


                        {% if comments %}
                          <!-- Comment Area -->
                          <div class="comment-area mb-80">
                              <!-- Comments Area -->
                              <div class="comment_area clearfix">
                                  <h4 class="mb-30">Comments</h4>

                                  <ol>
                                      <!-- Single Comment Area -->
                                      <li class="single_comment_area">
                                          <!-- Comment Content -->
                                          <div class="comment-content d-flex">

                                              <!-- Comment Meta -->
                                              <div class="comment-meta">
                                                  <div class="comment-meta-data">
                                                      <a>Beverly Price</a>
                                                      <!-- <span><i class="zmdi zmdi-calendar-check"></i> June 28, 2019 at 3:18 pm</span> -->
                                                  </div>
                                                  <p>{{post_title_as_id}}Just practicing yoga for more than 3 months, I dropped from 64 kg to 58 kg. I have used many weight loss measures such as medication, diet, but the effects are slow and low.</p>
                                                  <!-- <a href="#" class="reply"><i class="zmdi zmdi-mail-reply"></i> Reply</a> -->
                                              </div>
                                          </div>
                                      </li>
                                  </ol>
                              </div>
                          </div>
                        {% endif %}

                        <!-- Leave A Reply -->
                        <div class="confer-leave-a-reply-form clearfix">
                            <h4 class="mb-30">Leave A Comment</h4>

                            <!-- Leave A Reply -->
                            <div class="contact_form">
                                <form action="#" method="post">
                                    <div class="contact_input_area">
                                        <div class="row">
                                            <!-- Form Group -->
                                            <div class="col-12 col-lg-6">
                                                <div class="form-group">
                                                    <input autocomplete="off" type="text" class="form-control mb-30" name="name" id="name" placeholder="Your Name" required>
                                                </div>
                                            </div>

                                            <!-- Form Group -->
                                            <div class="col-12 col-lg-6">
                                                <div class="form-group">
                                                    <input autocomplete="off" type="email" class="form-control mb-30" name="email" id="email" placeholder="E-mail" required>
                                                </div>
                                            </div>

                                            <!-- Form Group -->
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <textarea name="message" class="form-control mb-30" id="message" cols="30" rows="6" placeholder="Message" required></textarea>
                                                </div>
                                            </div>
                                            <!-- Button -->
                                            <div class="col-12">
                                                <button type="submit" class="btn confer-btn">Send Message <i class="zmdi zmdi-long-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Blog Sidebar Area -->
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="confer-sidebar-area mb-100">



                        <!-- Single Widget Area -->
                        <div class="single-widget-area">
                            <!-- Post Author Widget -->
                            <div class="post-author-widget">
                                <!-- Thumbnail -->
                                <div class="post-author-avatar">
                                    <img src="../static/img/bg-img/post-page-sidebar-image.jpg" alt="">
                                </div>
                                <!-- Author Content -->
                                <div class="post-author-content">
                                    <h5>Jacobs Edo</h5>
                                    <span>Digital Transformation Evangelist</span>
                                    <p>Senior information technology professional</p>
                                </div>
                                <!-- Social Info -->
                                <div class="author-social-info">
                                    <a target="_blank" href="https://www.facebook.com/JacobsEdo/"><i class="zmdi zmdi-facebook"></i></a>
                                    <a target="_blank" href="https://www.twitter.com/JacobsEdo"><i class="zmdi zmdi-twitter"></i></a>
                                    <a target="_blank" href="http://linkedin.com/in/jacobsedo"><i class="zmdi zmdi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area">
                            <h5 class="widget-title mb-30">More Posts</h5>

                            <!-- Single Recent Post Area -->
                            <div class="single-recent-post-area d-flex align-items-center">
                                <!-- Thumb -->
                                <div class="post-thumb">
                                    <a href="{{ url_for('post', post_id="post title") }}"><img src="../static/img/bg-img/je11.jpg" alt=""></a>
                                </div>
                                <!-- Content -->
                                <div class="post-content">
                                    <a href="{{ url_for('post', post_id="post title") }}" class="post-title">Los Angeles Institute</a>
                                    <!-- <a href="#" class="post-date"><i class="zmdi zmdi-time"></i> January 14, 2019</a> -->
                                </div>
                            </div>




                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->



{%endblock%}
