<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      {{ file_path }}
    </p>

    <div class="">
      <a href="{{ url_for('download_resume') }}" class="btn confer-gb-btn">Download My Resume</a>
    </div>

    <div class="">
      <form class="" action="" method="post" enctype="multipart/form-data" >
        <input type="file" name="image" value="">
        <input type="submit" name="" value="submit">
      </form>
    </div>
  </body>
</html>
